[tool.poetry]
name = "pyleft"
version = "1.0.0"
description = "Python type annotation existence checker"
license = "MIT"
readme = "README.md"
homepage = "https://github.com/NathanVaughn/pyleft"
repository = "https://github.com/NathanVaughn/pyleft.git"
authors = ["Nathan Vaughn <nvaughn51@gmail.com>"]
classifiers = [
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: Software Development :: Quality Assurance",
]

[tool.poetry.urls]
Issues = "https://github.com/NathanVaughn/pyleft/issues"

[tool.poetry.dependencies]
python = ">=3.6.2,<4.0"

# match Black's dependencies
# https://github.com/psf/black/blob/main/setup.py#L102-L104
toml = ">=0.10.0,<1"
pathspec = ">=0.9.0, <1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
black = "^21.9b0"
isort = "^5.9.3"

[tool.poetry.scripts]
pyleft = "pyleft.console:run"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
