name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.12", "3.11", "3.10", "3.9", "3.8"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Poetry/vscode-task-runner
        run: |
          pipx install poetry
          pipx install vscode-task-runner

      - name: Setup Python ${{ matrix.python_version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python_version }}
          cache: poetry

      - name: Cache Pre-Commit
        uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: pre-commit-

      - name: Run Pre-Commit Checks
        run: vtr pre-commit --color=always --show-diff-on-failure

      - name: Run Tests
        run: vtr tests
